body {
  margin: 0;
  font-family: Arial;
}

.navbar {
  display: flex;
  gap: 20px;
  padding: 15px;
  background: #111;
  color: white;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.active {
  color: orange;
}

.page {
  padding: 80px;
}

.footer {
  text-align: center;
  padding: 20px;
  background: #eee;
}

/* AUTH PAGES */
.auth-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("https://images.unsplash.com/photo-1507525428034-b723cf961d3e");
  background-size: cover;
  background-position: center;
}

.auth-box {
  width: 350px;
  padding: 30px;
  background: rgba(255,255,255,0.1);
  backdrop-filter: blur(15px);
  border-radius: 20px;
  text-align: center;
  color: white;
  box-shadow: 0 10px 40px rgba(0,0,0,0.4);
}

.auth-box input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: none;
  border-radius: 10px;
  outline: none;
}

.auth-box button {
  width: 100%;
  padding: 12px;
  background: linear-gradient(45deg, #00d4ff, #007bff);
  border: none;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
}

.auth-box a {
  color: #00d4ff;
  text-decoration: none;
}